.class8main{
    display: flex;
    height: 40vh;
    width: 100%;
    
}
.class8main .class81i{
    height: 35vh;
    margin: 1%;
   box-shadow: 2px 7px 15px black;
   border-radius: 4px;
}
.class8main .class82i{
      height: 35vh;
    margin: 1%;
   box-shadow: 2px 7px 15px black;
   border-radius: 4px;

}
.class81i h4{
    text-align: center;
}
.class82i h4{
    text-align: center;
}
.class81i button{
  background: rgb(40, 168, 40);
  color: rgb(248, 247, 244);
  border: none;
border-radius: 7px;
   box-shadow: 2px 4px 11px black;
 
}
.class82i button{
  background: rgb(40, 168, 40);
  color: rgb(248, 247, 244);
  border: none;
border-radius: 7px;
   box-shadow: 2px 4px 11px black;
 
}