.class6main{
    display: flex;
    height: 40vh;
    width: 100%;
    
}
.class6main .class61i{
    height: 42vh;
    margin: 1%;
   box-shadow: 2px 7px 15px black;
   border-radius: 4px;
}
.class6main .class62i{
      height: 42vh;
    margin: 1%;
   box-shadow: 2px 7px 15px black;

}