.class6main{
    display: flex;
    height: 40vh;
    width: 100%;
    
}
.class6main .class61i{
    height: 42vh;
    margin: 1%;
   box-shadow: 2px 7px 15px black;
   border-radius: 4px;
}
.class6main .class62i{
      height: 42vh;
    margin: 1%;
   box-shadow: 2px 7px 15px black;
   border-radius: 4px;

}
.class61i h4{
    text-align: center;
}
.class62i h4{
    text-align: center;
}
.class61i button{
  background: rgb(40, 168, 40);
  color: rgb(248, 247, 244);
  border: none;
border-radius: 7px;
   box-shadow: 2px 4px 11px black;
 
}