.class7main{
    display: flex;
    height: 40vh;
    width: 100%;
    
}
.class7main .class71i{
    height: 35vh;
    margin: 1%;
   box-shadow: 2px 7px 15px black;
   border-radius: 4px;
}
.class7main .class72i{
      height: 42vh;
    margin: 1%;
   box-shadow: 2px 7px 15px black;
   border-radius: 4px;

}
.class71i h4{
    text-align: center;
}
.class72i h4{
    text-align: center;
}
.class71i button{
  background: rgb(40, 168, 40);
  color: rgb(248, 247, 244);
  border: none;
border-radius: 7px;
   box-shadow: 2px 4px 11px black;
 
}
.class72i button{
  background: rgb(40, 168, 40);
  color: rgb(248, 247, 244);
  border: none;
border-radius: 7px;
   box-shadow: 2px 4px 11px black;
 
}