.hero1{

width: 400px;

    height: 60vh;
    box-shadow: 4px 7px 16px black;
    border-radius: 9px;
    padding-inline: 3%;
}

.hero1 img{
    margin-top: 4%;
   border-radius: 5%;
}
.buttons button{
    width: 90px;
    height: 28px;
    margin: 4px;
    border-radius: 7px;
    border: none;
    background-color:rgb(71, 69, 69);
    color: aliceblue;
}
 .buttons a{
    text-decoration: none;
}