.callmain{
    z-index: 1000;
    box-shadow: 2px 7px 15px black;
    position: fixed;
   border-radius: 15%;
    width: 50px;
   margin-left: 85%;
   margin-top: 75%;
}
.callmain .callwh img{
    border-radius: 25px;
}
.callmain .callph img{
    border-radius: 25px;
}