.callmain{
    z-index: 1000;
    box-shadow: 2px 7px 15px black;
    position: fixed;
   
    width: 50px;
    right: 01;
   margin-top: 45%;
}
.callmain .callwh img{
    border-radius: 25px;
}
.callmain .callph img{
    border-radius: 25px;
}