.navBar{
width: 100%;
display: flex;
z-index: 1000;
position: fixed;
top: 0;
background-color: rgb(240, 245, 234);
height: 42px;
box-shadow: 4px 7px 25px;
}
.navBar .navlogo{
    width: 100px;
    height: 100px;
    margin-top: 5px;
}
.navBar ul{ 
    overflow-x: auto;
    display: flex; margin-left: 10%;
     background-color: rgb(122, 113, 113);
    border-radius: 15px;
    box-shadow: 4px 8px 15px black;
     } 
.navBar ul li{
   max-width: 15px;
     list-style: none;
    padding: 10px;
    }

.nav-menu.active{
border-bottom: 2px solid black;
}
li a{
text-decoration: none;
}