.navBar{
width: 100%;
display: flex;
z-index: 1000;
position: fixed;
top: 0;
background-color: rgb(79, 150, 231);
height: 35px;
box-shadow: 4px 7px 25px;
}
.navBar .navlogo{
    width: 100px;
    height: 100px;
}
.navBar ul{
    display: flex;
    margin-left: 10%;
}
.navBar ul li{
    list-style: none;
}