.class9bmain{
    display: flex;
   min-height: 40vh;
    min-width: 100%;
   overflow-x: scroll; 
}
.class9bmain .class9b1i{
    height: 25vh;
    min-width: 40%;
    margin: 1%;
   box-shadow: 2px 7px 15px black;
   border-radius: 4px;
}
.class9bmain .class9b2i{
      height: 25vh;
    min-width: 40%;

    margin: 1%;
   box-shadow: 2px 7px 15px black;
   border-radius: 4px;

}
.class9bmain .class9b3i{
      height: 25vh;
    min-width: 40%;

    margin: 1%;
   box-shadow: 2px 7px 15px black;
   border-radius: 4px;

}
.class9b1i h4{
    text-align: center;
}
.class9b2i h4{
    text-align: center;
}
.class9b3i h4{
    text-align: center;
}
.class9b1i button{
  background: rgb(40, 168, 40);
  color: rgb(248, 247, 244);
  border: none;
border-radius: 7px;
   box-shadow: 2px 4px 11px black;
 
}
.class9b2i button{
  background: rgb(40, 168, 40);
  color: rgb(248, 247, 244);
  border: none;
border-radius: 7px;
   box-shadow: 2px 4px 11px black;
 
}
.class9b3i button{
  background: rgb(40, 168, 40);
  color: rgb(248, 247, 244);
  border: none;
border-radius: 7px;
   box-shadow: 2px 4px 11px black;
 
}